{
  "openapi": "3.1.0",
  "info": {
    "title": "Ordex gateway API",
    "version": "1.2.1",
    "summary": "Portable Bitcoin orders, verified before you act.",
    "description": "The HTTP contract an Ordex gateway serves under `/api/ordex`. Amounts and protocol quantities are atomic integers carried as decimal strings, never as floating point numbers. Reads answer 200. Writes answer 201 and are rate limited. Errors use the envelope in `ErrorResponse`. The gateway composes and verifies transactions; it never signs, never holds or contributes funds, and never broadcasts on its own initiative: every relay of a signed transaction happens only after an explicit user broadcast action on a fully signed transaction. Version 1.1 added offers v1, ask replacement, and batch purchase. Version 1.2 adds, additively: SafeOps plans with an execution shield (safeops), atomic swap links and the OTC desk (swaps), the realtime event stream and signed webhooks (events, webhooks), the collection provenance registry (provenance), the Counterparty heritage market authority (heritage), and offline signing sessions (signing). Every 1.0 and 1.1 operation is unchanged. Version 1.2.1 makes the protocol contract machine-checkable: `GET /protocol` states the exact protocol version, the network, a boolean per gateway capability with the prerequisites of every missing one, the versioned fee policy, and the implementation identity; every quote and batch carries `feePolicy` and `feeOutputs` so a buyer proves every fee output against the published policy; and the mutating order routes accept an `idempotency-key` whose receipt `GET /operations/{operationId}` replays, so a reply lost after the gateway committed is recovered instead of repeated.",
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://bitcoinuniverse.io",
      "description": "The Bitcoin Universe marketplace gateway."
    },
    {
      "url": "{gateway}",
      "description": "A self hosted Ordex gateway.",
      "variables": {
        "gateway": {
          "default": "http://127.0.0.1:3001",
          "description": "The origin of your own deployed gateway."
        }
      }
    }
  ],
  "tags": [
    {
      "name": "status",
      "description": "What this gateway is, and whether it can verify a listing right now."
    },
    {
      "name": "orders",
      "description": "The orderbook, one order, and its signed artifact."
    },
    {
      "name": "activity",
      "description": "The appended lifecycle log."
    },
    {
      "name": "selling",
      "description": "Building, publishing, and withdrawing a listing."
    },
    {
      "name": "buying",
      "description": "Quoting and preflighting a purchase."
    },
    {
      "name": "offers",
      "description": "Buyer-posted offers funded into a Taproot output that two independent policy signers can spend together and the buyer can recover alone after expiry."
    },
    {
      "name": "interoperability",
      "description": "Importing and exporting portable signed orders."
    },
    {
      "name": "operator",
      "description": "Separately authenticated moderation."
    },
    {
      "name": "safeops",
      "description": "Executable operations desk: plan, shield, sign, and monitor batch transfers, consolidations, RBF, and CPFP."
    },
    {
      "name": "swaps",
      "description": "Atomic swap links and the OTC desk: maker intents, taker acceptance, and one transaction settlement."
    },
    {
      "name": "events",
      "description": "The realtime event history and stream. Replay by cursor, never by offset."
    },
    {
      "name": "webhooks",
      "description": "Signed webhook subscriptions and their delivery history."
    },
    {
      "name": "provenance",
      "description": "Creator-signed collection manifests, membership proofs, and revocations."
    },
    {
      "name": "heritage",
      "description": "The Counterparty heritage authority: assets, attached UTXOs, attach and detach composition."
    },
    {
      "name": "signing",
      "description": "Offline signing sessions built on expected transaction manifests."
    }
  ],
  "paths": {
    "/api/ordex/health": {
      "get": {
        "tags": [
          "status"
        ],
        "operationId": "getHealth",
        "summary": "The observed verification verdict, not the configuration",
        "description": "Reports configuration completeness and, separately, whether a Bitcoin listing can actually be verified right now: storage writable, both nodes answering, and the ord index within its accepted lag of Bitcoin Core.",
        "responses": {
          "200": {
            "description": "The health report.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthReport"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/ordex/protocol": {
      "get": {
        "tags": [
          "status"
        ],
        "operationId": "getProtocol",
        "summary": "The protocol contract this gateway speaks",
        "responses": {
          "200": {
            "description": "The protocol contract.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProtocolContract"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/ordex/catalog": {
      "get": {
        "tags": [
          "status"
        ],
        "operationId": "getCatalog",
        "summary": "The markets this gateway serves, and what it verifies for each",
        "description": "Every entry states its verification scope in plain language and its capabilities as booleans. An entry in the catalog never implies a working flow beyond what its capabilities state.",
        "responses": {
          "200": {
            "description": "The protocol catalog.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProtocolTemplate"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/ordex/orders": {
      "get": {
        "tags": [
          "orders"
        ],
        "operationId": "listOrders",
        "summary": "One page of the orderbook",
        "description": "Paging is keyset, never offset. A request carrying an `offset` parameter is refused with 400, and a malformed cursor is a 400 rather than a silent restart from the first page.",
        "parameters": [
          {
            "name": "protocol",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "One catalog protocol id."
          },
          {
            "name": "protocols",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma separated catalog ids. Applied before sorting and pagination."
          },
          {
            "name": "group",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "A catalog group id, expanded to every protocol it contains."
          },
          {
            "name": "token",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/Source"
            }
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "An order state from `OrderState`."
          },
          {
            "name": "safety",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "A safety class from `PsbtInspection.safety`."
          },
          {
            "name": "orderClass",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signature",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "A signature status from `SignatureStatus`."
          },
          {
            "name": "side",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "seller",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Restricts the page to the listings one seller script owns."
          },
          {
            "name": "assetInscriptionId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Restricts the page to orders claiming one inscription. Resolved through an index of order claims."
          },
          {
            "name": "assetOutpoint",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Restricts the page to orders claiming an asset at one `txid:vout`."
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "newest",
                "oldest",
                "price_asc",
                "price_desc",
                "token_asc",
                "protocol_asc",
                "validation_newest"
              ]
            },
            "description": "Every sort ends on the order id, which is unique, so the ordering is total and a cursor resumes exactly. An unpriced order sorts after every priced one in both price directions."
          },
          {
            "name": "includeWithdrawn",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Page size as a decimal string."
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The keyset resume point a previous page answered with."
          }
        ],
        "responses": {
          "200": {
            "description": "One page of orders.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderPage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/ordex/activity": {
      "get": {
        "tags": [
          "activity"
        ],
        "operationId": "listActivity",
        "summary": "The appended lifecycle log, newest first",
        "description": "Reads the appended transition log, so an entry is something that happened rather than a listing's current state restated after the fact.",
        "parameters": [
          {
            "name": "orderId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One page of lifecycle transitions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityPage"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/ordex/orders/{id}": {
      "get": {
        "tags": [
          "orders"
        ],
        "operationId": "getOrder",
        "summary": "One order",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrderId"
          }
        ],
        "responses": {
          "200": {
            "description": "The order, without its signed artifact.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderSummary"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/ordex/orders/{id}/artifact": {
      "get": {
        "tags": [
          "orders"
        ],
        "operationId": "getOrderArtifact",
        "summary": "The signed artifact for one live listing",
        "description": "Deliberately its own rate limited request. A browse response carrying raw PSBTs would hand every public ask to anything that can read the market. Only a live listing hands over its artifact; any other state is refused with 400.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrderId"
          }
        ],
        "responses": {
          "200": {
            "description": "The signed artifact and its current verification.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderArtifact"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/ordex/orders/import": {
      "post": {
        "tags": [
          "interoperability"
        ],
        "operationId": "importOrder",
        "summary": "Take a signed artifact and verify it",
        "description": "A source may supply signed order evidence, but it never overrides what the node and the ord index prove. The claims travel as evidence and the authorities decide the state.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The imported order after verification.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderSummary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/ordex/orders/openordex-event": {
      "post": {
        "tags": [
          "interoperability"
        ],
        "operationId": "importOpenOrdexEvent",
        "summary": "Take a signed OpenOrdex event and verify it",
        "description": "Accepts a kind 802 Nostr event carrying a signed PSBT, verifies the event signature, then verifies the order exactly as a direct import.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NostrEvent"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The imported order after verification.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderSummary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/ordex/orders/build": {
      "post": {
        "tags": [
          "selling"
        ],
        "operationId": "buildAsk",
        "summary": "Build the unsigned seller half",
        "description": "Composes the one input, one output PSBT a seller signs `SIGHASH_SINGLE | SIGHASH_ANYONECANPAY`. The asset and outpoint are verified against the node and the ord index before anything is composed.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuildAskRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The unsigned seller half and its inspection.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildAskResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/ordex/orders/publish": {
      "post": {
        "tags": [
          "selling"
        ],
        "operationId": "publishAsk",
        "summary": "Take the signed seller half and publish it",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublishAskRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The published order after verification.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderSummary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "description": "The operation id was already used for a different request, or the replacement conflicts with the book."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ]
      }
    },
    "/api/ordex/orders/{id}/ownership-challenge": {
      "get": {
        "tags": [
          "selling"
        ],
        "operationId": "getOwnershipChallenge",
        "summary": "The message a listing owner signs before managing it",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrderId"
          }
        ],
        "responses": {
          "200": {
            "description": "The challenge to sign with the key that owns the offered output.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OwnershipChallenge"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/ordex/orders/{id}/withdraw": {
      "post": {
        "tags": [
          "selling"
        ],
        "operationId": "withdrawOrder",
        "summary": "Remove a listing, proved by the key owning the output it sells",
        "description": "Withdrawal is discovery, not cancellation. It stops this gateway publishing the listing; it cannot unpublish a signed artifact already distributed elsewhere. Only spending the offered output makes such an artifact unusable.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrderId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OwnershipProof"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The withdrawn order.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderSummary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "The operation id was already used for a different request, or the replacement conflicts with the book."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/ordex/admin/orders/{id}/withdraw": {
      "post": {
        "tags": [
          "operator"
        ],
        "operationId": "adminWithdrawOrder",
        "summary": "Operator moderation, separately authenticated",
        "security": [
          {
            "operatorBasic": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/OrderId"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The withdrawn order.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderSummary"
                }
              }
            }
          },
          "401": {
            "description": "Operator credentials missing, invalid, or not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/ordex/orders/{id}/nostr-envelope": {
      "get": {
        "tags": [
          "interoperability"
        ],
        "operationId": "getNostrEnvelope",
        "summary": "The unsigned kind 802 event announcing this listing",
        "description": "The gateway never holds Nostr keys. The customer's own NIP-07 signer signs this envelope, the browser publishes it, and the signed event can then be handed back through the OpenOrdex import route.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrderId"
          }
        ],
        "responses": {
          "200": {
            "description": "The unsigned event envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NostrEnvelope"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/ordex/orders/{id}/revalidate": {
      "post": {
        "tags": [
          "orders"
        ],
        "operationId": "revalidateOrder",
        "summary": "Recheck one order against both authorities",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrderId"
          }
        ],
        "responses": {
          "201": {
            "description": "The order after a fresh verification.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderSummary"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/ordex/orders/{id}/quote": {
      "post": {
        "tags": [
          "buying"
        ],
        "operationId": "quoteOrder",
        "summary": "Compose the buyer half and state the exact terms",
        "description": "The caller names its own outputs and nothing else. Value and script are read from Bitcoin Core, never from the request, so a buyer cannot make a purchase look cheaper by describing their own funding wrongly. Each named output is checked against the ord index first: an output holding an asset is not spare change, and an unexamined output is unknown rather than empty.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrderId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The unsigned buyer half and the exact economics. A fee or a royalty of zero is stated as zero rather than omitted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Quote"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/ordex/orders/{id}/preflight": {
      "post": {
        "tags": [
          "buying"
        ],
        "operationId": "preflightOrder",
        "summary": "Verify a signed purchase and ask the node whether it would accept it",
        "description": "Takes either `finalTxHex` or the `signedPsbt` a wallet actually answers with. Given a PSBT it finalises only inputs the buyer already signed: it creates no signature and changes no input, output, or amount, and an unsigned input is an error rather than a guess. It rechecks the order against the chain, binds the transaction to the order, proves the sat flow invariant, then asks the node itself. The gateway does not broadcast; that is the buyer's own deliberate step.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrderId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreflightRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The verdict, with the exact bytes checked so a buyer broadcasts those and no others.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreflightResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/ordex/orders/{id}/replace": {
      "post": {
        "tags": [
          "selling"
        ],
        "operationId": "replaceOrder",
        "summary": "Replace a live ask with a freshly signed one for the same output",
        "description": "Repricing is a protocol operation, not a database edit. The old order must be live, the owner proof must match the offered output, and the new artifact must be signed against the same outpoint. The old order leaves the book as REPLACED and the new one goes live in one step, and two live asks for one output and seller cannot exist.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrderId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceAskRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The retired order id and the live replacement.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceAskResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "The operation id was already used for a different request, or the replacement conflicts with the book."
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/ordex/orders/batch-purchase": {
      "post": {
        "tags": [
          "buying"
        ],
        "operationId": "composeBatchPurchase",
        "summary": "Compose several live asks into one transaction",
        "description": "Up to eight asks, one funding plan, one transaction, composed only when every seller signature and every sat flow invariant can coexist. There is no partial composition: when any ask cannot be proved the answer names every refusal and settles nothing.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchPurchaseRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The composed batch with every placement stated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchPurchaseResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "description": "At least one ask cannot coexist in the batch.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchPurchaseRefused"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/ordex/orders/batch-preflight": {
      "post": {
        "tags": [
          "buying"
        ],
        "operationId": "preflightBatchPurchase",
        "summary": "Verify a signed batch and ask the node about the exact bytes",
        "description": "Rechecks every placement against both authorities, proves the sat flow invariant for every ask, then asks the node whether it would accept the composed transaction. The answer carries the exact bytes checked.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchPreflightRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The per-ask verdicts and the node answer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchPreflightResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/ordex/offers": {
      "get": {
        "tags": [
          "offers"
        ],
        "operationId": "listOffers",
        "summary": "One page of the offer book",
        "description": "Keyset paged exactly like the orders: limit and cursor in, nextCursor out, empty on the last page. A malformed cursor is a 400, never a silent first page.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offerKind",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/OfferKind"
            }
          },
          {
            "name": "collectionId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/OfferState"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The offer page.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferPage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "tags": [
          "offers"
        ],
        "operationId": "publishOffer",
        "summary": "Publish a funded offer",
        "description": "Takes exact offer terms and funded-output evidence. The gateway recomputes the terms hash, recomputes the Taproot tree and tweak from the two leaves, requires the funded script to commit to both, asks Bitcoin Core whether the output exists and is unspent, and refuses everything else. The offer goes live once the funding confirms.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OfferPublishRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The published offer in PENDING_CONFIRMATION.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferSummary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/ordex/offers/{id}": {
      "get": {
        "tags": [
          "offers"
        ],
        "operationId": "getOffer",
        "summary": "One offer with its lifecycle state and freshness",
        "parameters": [
          {
            "$ref": "#/components/parameters/OfferId"
          }
        ],
        "responses": {
          "200": {
            "description": "The offer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferSummary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/ordex/offers/{id}/revalidate": {
      "post": {
        "tags": [
          "offers"
        ],
        "operationId": "revalidateOffer",
        "summary": "Recheck one offer against both authorities",
        "parameters": [
          {
            "$ref": "#/components/parameters/OfferId"
          }
        ],
        "responses": {
          "201": {
            "description": "The rechecked offer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferSummary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OfferRevalidateRequest"
              }
            }
          }
        }
      }
    },
    "/api/ordex/offers/{id}/withdraw": {
      "post": {
        "tags": [
          "offers"
        ],
        "operationId": "withdrawOffer",
        "summary": "Remove an offer from discovery, proved by the recovery key",
        "description": "Discovery, not cancellation: the funded output stays spendable by the acceptance path until it is spent, and by the recovery path after expiry. A BIP-340 signature by the recovery key over the offer withdrawal message proves who may stop publishing the offer.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OfferId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OfferWithdrawalProof"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The withdrawn offer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferSummary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/ordex/offers/{id}/acceptance-plan": {
      "post": {
        "tags": [
          "offers"
        ],
        "operationId": "planOfferAcceptance",
        "summary": "State the exact acceptance arrangement for one live offer",
        "description": "Given the seller outpoint, reads every value from the node and the ord index and lays out the seller inputs, the funded output last, the asset outputs that absorb exactly the seller sats (the Feline to the buyer, every other seller asset preserved in sat order), the seller payment, and buyer change. Refuses when the Feline is elsewhere, the root or trait set does not prove it, or expiry has been reached. No buyer input is ever planned.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OfferId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OfferAcceptancePlanRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The exact arrangement to build and sign.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferAcceptancePlan"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/ordex/offers/{id}/preflight": {
      "post": {
        "tags": [
          "offers"
        ],
        "operationId": "preflightOfferAcceptance",
        "summary": "Verify a built acceptance and ask the node",
        "description": "Parses the complete acceptance, checks every rule in spec/offers.md including both policy signatures under the exact acceptance leaf and control block and a closing seller signature on every seller input, then asks the node whether it would accept the bytes. The answer carries the exact bytes checked.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OfferId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OfferPreflightRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The acceptance verdict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferPreflightResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/ordex/safeops/plans": {
      "post": {
        "operationId": "createSafeOpsPlan",
        "summary": "Build a complete SafeOps plan",
        "description": "Resolves every selected outpoint against the protocol authorities, builds the deterministic output map and sat flow, and returns the full plan with its digest before any wallet opens. Unexamined inputs fail closed.",
        "tags": [
          "safeops"
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SafeOpsPlanResult"
                }
              }
            },
            "description": "The result."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SafeOpsPlanRequest"
              }
            }
          }
        }
      }
    },
    "/api/ordex/safeops/plans/{planId}": {
      "get": {
        "operationId": "getSafeOpsPlan",
        "summary": "One stored SafeOps plan",
        "description": "Returns the plan exactly as it was built, with its current actionability against the live chain.",
        "tags": [
          "safeops"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SafeOpsPlanResult"
                }
              }
            },
            "description": "The result."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "name": "planId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "description": "The plan identifier returned at creation."
          }
        ]
      }
    },
    "/api/ordex/safeops/plans/{planId}/shield": {
      "post": {
        "operationId": "refreshExecutionShield",
        "summary": "Refresh the execution shield for a plan",
        "description": "Re-reads every input, protocol ownership, mempool conflicts, and fee estimates, then either confirms the plan is still fresh or invalidates the signing session and names exactly what changed.",
        "tags": [
          "safeops"
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShieldResult"
                }
              }
            },
            "description": "The result."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "name": "planId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "description": "The plan identifier."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShieldRequest"
              }
            }
          }
        }
      }
    },
    "/api/ordex/safeops/broadcast": {
      "post": {
        "operationId": "broadcastSafeOpsTransaction",
        "summary": "Relay a fully signed transaction after an explicit user broadcast action",
        "description": "Verifies the signed result against its plan or manifest, runs Bitcoin Core preflight, and only then relays. The gateway never composes a signature and never broadcasts on its own initiative.",
        "tags": [
          "safeops"
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BroadcastReceipt"
                }
              }
            },
            "description": "The result."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BroadcastRequest"
              }
            }
          }
        }
      }
    },
    "/api/ordex/safeops/operations/{txid}": {
      "get": {
        "operationId": "getSafeOpsOperation",
        "summary": "Monitor one broadcast operation",
        "description": "Mempool state, conflicts, confirmations, replacement, and reorg reconciliation for one transaction, with the events that recorded every transition.",
        "tags": [
          "safeops"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationStatus"
                }
              }
            },
            "description": "The result."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "name": "txid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "description": "The transaction id of the operation."
          }
        ]
      }
    },
    "/api/ordex/safeops/rbf": {
      "post": {
        "operationId": "planSafeOpsRbf",
        "summary": "Plan an RBF replacement of one of your transactions",
        "description": "Offered only when node policy allows the replacement and the user controls every required input. Asset outputs, third party payments, and seller outputs are preserved; the extra fee comes only from user owned cardinal value.",
        "tags": [
          "safeops"
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SafeOpsRbfResult"
                }
              }
            },
            "description": "The result."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SafeOpsRbfRequest"
              }
            }
          }
        }
      }
    },
    "/api/ordex/safeops/cpfp": {
      "post": {
        "operationId": "planSafeOpsCpfp",
        "summary": "Plan a CPFP child for one of your stuck transactions",
        "description": "Offered only when the user controls a spendable output whose spending moves no tracked asset. The child fee is computed from the combined package fee rate under node package policy.",
        "tags": [
          "safeops"
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SafeOpsCpfpResult"
                }
              }
            },
            "description": "The result."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SafeOpsCpfpRequest"
              }
            }
          }
        }
      }
    },
    "/api/ordex/swaps/intents": {
      "post": {
        "operationId": "publishSwapIntent",
        "summary": "Publish a signed swap intent",
        "description": "Verifies the BIP-322 maker proof, the intent digest, and the current state of every committed outpoint before the intent goes live. Private intents are never listed publicly.",
        "tags": [
          "swaps"
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SwapIntentView"
                }
              }
            },
            "description": "The result."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SwapIntentPublishRequest"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listSwapIntents",
        "summary": "List live public swap intents",
        "description": "Keyset pagination by creation. Every intent is returned with the gateway independent resolution of its committed outpoints.",
        "tags": [
          "swaps"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SwapIntentPage"
                }
              }
            },
            "description": "The result."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkFilter"
          },
          {
            "$ref": "#/components/parameters/PageCursor"
          },
          {
            "$ref": "#/components/parameters/PageLimit"
          },
          {
            "name": "assetType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only intents that give or require this asset type."
          }
        ]
      }
    },
    "/api/ordex/swaps/intents/{intentId}": {
      "get": {
        "operationId": "getSwapIntent",
        "summary": "One swap intent with its live outpoint state",
        "description": "The taker view independently resolves every asset claim against the chain authorities instead of repeating the maker text.",
        "tags": [
          "swaps"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SwapIntentView"
                }
              }
            },
            "description": "The result."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "name": "intentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "description": "The intent identifier."
          }
        ]
      }
    },
    "/api/ordex/swaps/intents/{intentId}/withdraw": {
      "post": {
        "operationId": "withdrawSwapIntent",
        "summary": "Withdraw a swap intent",
        "description": "Only the maker may withdraw, proven by a fresh BIP-322 signature over the withdrawal request.",
        "tags": [
          "swaps"
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SwapIntentView"
                }
              }
            },
            "description": "The result."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "name": "intentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "description": "The intent identifier."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SwapIntentWithdrawRequest"
              }
            }
          }
        }
      }
    },
    "/api/ordex/swaps/intents/{intentId}/acceptance-plan": {
      "post": {
        "operationId": "buildSwapAcceptancePlan",
        "summary": "Build the one transaction acceptance plan for a taker",
        "description": "Revalidates the maker outpoints, resolves the taker selection, builds exact input order for sat flow safety, assigns fees only to permitted cardinal value, and refuses any combination that cannot settle in one transaction.",
        "tags": [
          "swaps"
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SwapSession"
                }
              }
            },
            "description": "The result."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "name": "intentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "description": "The intent identifier."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SwapAcceptancePlanRequest"
              }
            }
          }
        }
      }
    },
    "/api/ordex/swaps/sessions/{sessionId}": {
      "get": {
        "operationId": "getSwapSession",
        "summary": "One swap session with its signature progress",
        "description": "Shows which party has signed, the current outpoint and conflict state, and whether the session is ready for preflight or broadcast.",
        "tags": [
          "swaps"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SwapSession"
                }
              }
            },
            "description": "The result."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "description": "The session identifier."
          },
          {
            "$ref": "#/components/parameters/SwapCapability"
          }
        ]
      }
    },
    "/api/ordex/swaps/sessions/{sessionId}/signatures": {
      "post": {
        "operationId": "submitSwapSignature",
        "summary": "Submit one party signed PSBT",
        "description": "The submitted PSBT is compared against the acceptance plan. An input added, removed, reordered, or re signed outside the policy refuses the submission.",
        "tags": [
          "swaps"
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SwapSession"
                }
              }
            },
            "description": "The result."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "description": "The session identifier."
          },
          {
            "$ref": "#/components/parameters/SwapCapability"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SwapSignatureSubmission"
              }
            }
          }
        }
      }
    },
    "/api/ordex/swaps/sessions/{sessionId}/preflight": {
      "post": {
        "operationId": "preflightSwapSession",
        "summary": "Run node preflight on the fully signed swap",
        "description": "Only a transaction carrying every required signature reaches this route. Bitcoin Core testmempoolaccept decides.",
        "tags": [
          "swaps"
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationView"
                }
              }
            },
            "description": "The result."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "description": "The session identifier."
          },
          {
            "$ref": "#/components/parameters/SwapCapability"
          }
        ]
      }
    },
    "/api/ordex/swaps/sessions/{sessionId}/broadcast": {
      "post": {
        "operationId": "broadcastSwapSession",
        "summary": "Relay the fully signed swap after the explicit user broadcast action",
        "description": "Both parties assets move in one transaction or not at all. The relay happens only after the user action and a passing preflight.",
        "tags": [
          "swaps"
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BroadcastReceipt"
                }
              }
            },
            "description": "The result."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "description": "The session identifier."
          },
          {
            "$ref": "#/components/parameters/SwapCapability"
          }
        ]
      }
    },
    "/api/ordex/swaps/private": {
      "post": {
        "operationId": "storePrivateSwap",
        "summary": "Store an encrypted private swap link",
        "description": "The payload is encrypted client side. The server stores ciphertext and routing metadata only, never the key, never the terms, never a log of either.",
        "tags": [
          "swaps"
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateSwapEnvelope"
                }
              }
            },
            "description": "The result."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateSwapStoreRequest"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listPrivateSwaps",
        "summary": "List the caller stored private swap envelopes",
        "description": "Private swap envelopes are not enumerable: the gateway currently answers 404 PRIVATE_SWAP_LIST_UNAVAILABLE. A 200 would carry this shape. Read one envelope by its id.",
        "tags": [
          "swaps"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateSwapList"
                }
              }
            },
            "description": "The result."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/ordex/swaps/private/{privateId}": {
      "get": {
        "operationId": "getPrivateSwap",
        "summary": "Fetch one encrypted private swap envelope",
        "description": "Returns the ciphertext. The decryption key lives in the URL fragment and is never sent to the server.",
        "tags": [
          "swaps"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateSwapEnvelope"
                }
              }
            },
            "description": "The result."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "name": "privateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "description": "The private envelope identifier."
          }
        ]
      },
      "delete": {
        "operationId": "destroyPrivateSwap",
        "summary": "Destroy an encrypted private swap envelope",
        "description": "Client side destruction: the ciphertext is removed and the envelope is marked destroyed.",
        "tags": [
          "swaps"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "destroyed"
                  ],
                  "properties": {
                    "destroyed": {
                      "type": "boolean"
                    }
                  }
                }
              }
            },
            "description": "The result."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "name": "privateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "description": "The private envelope identifier."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateSwapDestroyRequest"
              }
            }
          }
        }
      }
    },
    "/api/ordex/events": {
      "get": {
        "operationId": "listOrdexEvents",
        "summary": "Keyset paginated event history",
        "description": "Replay by cursor. Seven days minimum retention. Reversals appear as reverted events naming the event they reverse.",
        "tags": [
          "events"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventPage"
                }
              }
            },
            "description": "The result."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkFilter"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only this event type."
          },
          {
            "name": "aggregateType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only events of this aggregate type."
          },
          {
            "name": "aggregateId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only events of this aggregate."
          },
          {
            "name": "protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only events of this protocol."
          },
          {
            "name": "collectionId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only events of this collection."
          },
          {
            "$ref": "#/components/parameters/PageLimit"
          },
          {
            "$ref": "#/components/parameters/PageCursor"
          }
        ]
      }
    },
    "/api/ordex/events/stream": {
      "get": {
        "operationId": "streamOrdexEvents",
        "summary": "Server sent event stream of live events",
        "description": "Filter by network, event type, aggregate, protocol, or collection. Last-Event-ID resumption, heartbeats, bounded buffers, and slow consumer disconnection with a resumable cursor. The same envelopes are available over WebSocket at the streaming gateway.",
        "tags": [
          "events"
        ],
        "responses": {
          "200": {
            "description": "An SSE stream of ordex-event/v1 envelopes with id, event, and data fields.",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkFilter"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only this event type."
          },
          {
            "name": "aggregateType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only events of this aggregate type."
          },
          {
            "name": "aggregateId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only events of this aggregate."
          },
          {
            "name": "protocol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only events of this protocol."
          },
          {
            "name": "collectionId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only events of this collection."
          },
          {
            "$ref": "#/components/parameters/PageCursor"
          },
          {
            "$ref": "#/components/parameters/LastEventId"
          }
        ]
      }
    },
    "/api/ordex/events/checkpoint": {
      "get": {
        "operationId": "getEventStreamCheckpoint",
        "summary": "The current stream sequence and lag",
        "description": "Lets a consumer decide whether it is behind and from which cursor to resume without gaps.",
        "tags": [
          "events"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventStreamCheckpoint"
                }
              }
            },
            "description": "The result."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkFilter"
          }
        ]
      }
    },
    "/api/ordex/webhooks/subscriptions": {
      "post": {
        "operationId": "createWebhookSubscription",
        "summary": "Create a webhook subscription",
        "description": "Returns the signing secret exactly once. The endpoint stays PENDING_VERIFICATION until it answers the challenge.",
        "tags": [
          "webhooks"
        ],
        "responses": {
          "201": {
            "description": "The subscription with its one time secret.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/WebhookSubscription"
                    },
                    {
                      "type": "object",
                      "required": [
                        "secret"
                      ],
                      "properties": {
                        "secret": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "developerBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookSubscriptionCreateRequest"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listWebhookSubscriptions",
        "summary": "List your webhook subscriptions",
        "description": "Bound to the authenticated developer key.",
        "tags": [
          "webhooks"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSubscriptionList"
                }
              }
            },
            "description": "The result."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "developerBearer": []
          }
        ]
      }
    },
    "/api/ordex/webhooks/subscriptions/{subscriptionId}": {
      "get": {
        "operationId": "getWebhookSubscription",
        "summary": "One webhook subscription",
        "description": "Never returns the signing secret.",
        "tags": [
          "webhooks"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSubscription"
                }
              }
            },
            "description": "The result."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "description": "The subscription identifier."
          }
        ],
        "security": [
          {
            "developerBearer": []
          }
        ]
      },
      "patch": {
        "operationId": "updateWebhookSubscription",
        "summary": "Update, pause, or resume a subscription",
        "description": "URL changes re-enter verification.",
        "tags": [
          "webhooks"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSubscription"
                }
              }
            },
            "description": "The result."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "description": "The subscription identifier."
          }
        ],
        "security": [
          {
            "developerBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookSubscriptionUpdateRequest"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteWebhookSubscription",
        "summary": "Delete a webhook subscription",
        "description": "Pending deliveries drain before removal.",
        "tags": [
          "webhooks"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "deleted"
                  ],
                  "properties": {
                    "deleted": {
                      "type": "boolean"
                    }
                  }
                }
              }
            },
            "description": "The result."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "description": "The subscription identifier."
          }
        ],
        "security": [
          {
            "developerBearer": []
          }
        ]
      }
    },
    "/api/ordex/webhooks/subscriptions/{subscriptionId}/rotate-secret": {
      "post": {
        "operationId": "rotateWebhookSecret",
        "summary": "Rotate the signing secret",
        "description": "Returns the next signing secret exactly once. The previous secret keeps verifying during a bounded overlap: each delivery carries one v1 per unexpired secret, so rotation never drops a delivery.",
        "tags": [
          "webhooks"
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSecretReveal"
                }
              }
            },
            "description": "The result."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "description": "The subscription identifier."
          }
        ],
        "security": [
          {
            "developerBearer": []
          }
        ]
      }
    },
    "/api/ordex/webhooks/subscriptions/{subscriptionId}/verify": {
      "post": {
        "operationId": "verifyWebhookEndpoint",
        "summary": "Answer the endpoint challenge",
        "description": "The endpoint must echo the challenge value delivered to it before the subscription activates.",
        "tags": [
          "webhooks"
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSubscription"
                }
              }
            },
            "description": "The result."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "description": "The subscription identifier."
          }
        ],
        "security": [
          {
            "developerBearer": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookVerifyRequest"
              }
            }
          }
        }
      }
    },
    "/api/ordex/webhooks/subscriptions/{subscriptionId}/test": {
      "post": {
        "operationId": "testWebhookSubscription",
        "summary": "Send a signed test delivery",
        "description": "A ping envelope signed exactly like a real delivery.",
        "tags": [
          "webhooks"
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookDelivery"
                }
              }
            },
            "description": "The result."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "description": "The subscription identifier."
          }
        ],
        "security": [
          {
            "developerBearer": []
          }
        ]
      }
    },
    "/api/ordex/webhooks/deliveries": {
      "get": {
        "operationId": "listWebhookDeliveries",
        "summary": "Delivery history with attempt detail",
        "description": "Keyset paginated, filterable by subscription and state.",
        "tags": [
          "webhooks"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookDeliveryPage"
                }
              }
            },
            "description": "The result."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "developerBearer": []
          }
        ],
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only deliveries of this subscription."
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Only deliveries in this state."
          },
          {
            "$ref": "#/components/parameters/PageLimit"
          },
          {
            "$ref": "#/components/parameters/PageCursor"
          }
        ]
      }
    },
    "/api/ordex/webhooks/deliveries/{deliveryId}/replay": {
      "post": {
        "operationId": "replayWebhookDelivery",
        "summary": "Replay one delivery",
        "description": "Re-signs the original body and re-enters the retry schedule.",
        "tags": [
          "webhooks"
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookDelivery"
                }
              }
            },
            "description": "The result."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "name": "deliveryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "description": "The delivery identifier."
          }
        ],
        "security": [
          {
            "developerBearer": []
          }
        ]
      }
    },
    "/api/ordex/collections/manifests": {
      "post": {
        "operationId": "publishCollectionManifest",
        "summary": "Publish a creator signed collection manifest",
        "description": "The manifest is verified structurally, the creator signature address is bound, and the membership root is recomputed before publication. A published manifest is immutable; corrections are new versions.",
        "tags": [
          "provenance"
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionManifestDocument"
                }
              }
            },
            "description": "The result."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectionManifestDocument"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listCollectionManifests",
        "summary": "List published manifests",
        "description": "Keyset paginated, filterable by collection id, network, and status.",
        "tags": [
          "provenance"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionManifestPage"
                }
              }
            },
            "description": "The result."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "name": "collectionId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 200
            },
            "description": "Only manifests of this collection."
          },
          {
            "$ref": "#/components/parameters/NetworkFilter"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "CREATOR_SIGNED",
                "SUPERSEDED",
                "REVOKED"
              ]
            },
            "description": "Only manifests in this status."
          },
          {
            "$ref": "#/components/parameters/PageCursor"
          },
          {
            "$ref": "#/components/parameters/PageLimit"
          }
        ]
      }
    },
    "/api/ordex/collections/manifests/{manifestId}": {
      "get": {
        "operationId": "getCollectionManifest",
        "summary": "One collection manifest",
        "description": "Superseded and revoked versions stay visible; history is never deleted.",
        "tags": [
          "provenance"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionManifestDocument"
                }
              }
            },
            "description": "The result."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "name": "manifestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "description": "The manifest digest or its published identifier."
          }
        ]
      }
    },
    "/api/ordex/collections/manifests/{manifestId}/proofs/{memberIdentity}": {
      "get": {
        "operationId": "getCollectionMembershipProof",
        "summary": "A membership proof for one member",
        "description": "The SDK verifies the proof offline with nothing but this response.",
        "tags": [
          "provenance"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MembershipProofResponse"
                }
              }
            },
            "description": "The result."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "name": "manifestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "description": "The manifest identifier."
          },
          {
            "name": "memberIdentity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "description": "The member identity."
          }
        ]
      }
    },
    "/api/ordex/collections/manifests/{manifestId}/revisions": {
      "post": {
        "operationId": "reviseCollectionManifest",
        "summary": "Supersede or revoke a manifest",
        "description": "Both moves are creator signed. A revocation does not delete history.",
        "tags": [
          "provenance"
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "manifest",
                    "revocation"
                  ],
                  "properties": {
                    "manifest": {
                      "$ref": "#/components/schemas/CollectionManifestDocument"
                    },
                    "revocation": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            },
            "description": "The result."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "name": "manifestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "description": "The manifest the revision applies to."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectionRevisionRequest"
              }
            }
          }
        }
      }
    },
    "/api/ordex/collections/{collectionId}/provenance": {
      "get": {
        "operationId": "getCollectionProvenance",
        "summary": "The full provenance record of a collection",
        "description": "Separate labels for the cryptographic claim, the on chain anchor, Universe curation, third party curation, and community reports.",
        "tags": [
          "provenance"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionProvenance"
                }
              }
            },
            "description": "The result."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "name": "collectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "description": "The stable collection identifier."
          },
          {
            "$ref": "#/components/parameters/NetworkFilter"
          }
        ]
      }
    },
    "/api/ordex/heritage/readiness": {
      "get": {
        "operationId": "getHeritageReadiness",
        "summary": "Whether the Counterparty authority currently proves ownership",
        "description": "The heritage market fails closed unless the self hosted Counterparty Core is ready, fresh, and on the intended network. There is no public API fallback in production.",
        "tags": [
          "heritage"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HeritageReadiness"
                }
              }
            },
            "description": "The result."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/api/ordex/heritage/assets/{assetId}": {
      "get": {
        "operationId": "getHeritageAsset",
        "summary": "One Counterparty asset with its live attachment state",
        "description": "Identity is the authoritative numeric asset id plus current ledger state. A ticker or name alone is never an identity.",
        "tags": [
          "heritage"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HeritageAsset"
                }
              }
            },
            "description": "The result."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "description": "The numeric Counterparty asset id or its exact long name."
          },
          {
            "$ref": "#/components/parameters/PageCursor"
          }
        ]
      }
    },
    "/api/ordex/heritage/assets/{assetId}/utxos": {
      "get": {
        "operationId": "listHeritageAssetUtxos",
        "summary": "The UTXOs currently carrying an asset",
        "description": "Each record binds quantity, outpoint, and the authority checkpoints it was read at.",
        "tags": [
          "heritage"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HeritageAttachmentRecord"
                  }
                }
              }
            },
            "description": "The result."
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "description": "The numeric Counterparty asset id or its exact long name."
          },
          {
            "$ref": "#/components/parameters/PageCursor"
          }
        ]
      }
    },
    "/api/ordex/heritage/addresses/{address}/assets": {
      "get": {
        "operationId": "listHeritageAddressAssets",
        "summary": "The Counterparty assets of one address",
        "description": "Address balances and their current attached outpoints.",
        "tags": [
          "heritage"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  }
[...]
